<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waroEng</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="assets/waroEng3.png"/>
        </div>
        <div class="login">
            <select>
                <option value="admin">Admin</option>
                <option value="keluar">Logout</option>
            </select>
        </div>
    </header>

    <div class="box">
        <div class="sidebar">
            <div class="profil">
                <h2>Profil Toko</h2>
                <a href="/dashboard">Profil</a>
                <a href="/asset">Assets</a>
            </div>
            <div class="barang">
                <h2>Barang</h2>
                <a href="/databarang">Data Barang</a>
                <a href="/kategori">Kategori</a>
            </div>
            <div class="penjualan">
                <h2>Penjualan</h2>
                <a href="/approve">Approve</a>
                <a href="/laporanPenjualan">Laporan Penjualan</a>
            </div>
        </div>

        <div class="content">
            <div class="menu">
                <div class="judul">
                    <h1>Data Barang</h1>
                </div>
                <a href="/tambahDatabarang" class="tombol">Tambah</a>
            </div>

            <div class="isiaset">
                <div class="wadah">
                    <div class="datajudul">
                        <p>No</p>
                        <p>Nama Produk</p>
                        <p>Jumlah</p>
                        <p>Satuan</p>
                        <p>Deskripsi</p>
                        <p>Jenis</p>
                        <p>Harga Beli</p>
                        <p>Harga Jual</p>
                        <p>Foto</p>
                        <p>Aksi</p>
                    </div>

                    <% for (let index = 0; index < produks.length; index++) { %>
                    <%  const element = produks[index];  %>
                        <div class="aset2">
                            <p>  <%= index+1 %> </p>
                            <p> <%= element.Nama_Produk %> </p>
                            <p> <%= element.Jumlah %> </p>
                            <p> <%= element.Satuan %> </p>
                            <p> <%= element.Deskripsi %> </p>
                            <p> <%= element.jenis_barang %> </p>
                            <p><%= element.Harga_Beli %></p>
                            <p><%= element.Harga_Jual %></p>
                            <img class="gbrdata" src="<%= element.foto %>" >
                            <div class="aksi">
                                <a class="hapus lul-pad" href="/hapusBarang">
                                    <img src="assets/trash.png" width="20px">
                                </a>
                                <a class="edit lul-pad" href="/editBarang">
                                    <img src="assets/edit.png" width="20px">
                                </a>
                            </div>
                        </div>
                    <% } %> 
                </div> 
            </div>

        </div>
    </div>
    
</body>
</html>