<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waroEng</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="assets/waroEng3.png"/>
        </div>
        <div class="login">
            <select>
                <option value="admin">Admin</option>
                <option value="keluar">Logout</option>
            </select>
        </div>
    </header>

    <div class="box">
        <div class="sidebar">
            <div class="profil">
                <h2>Profil Toko</h2>
                <a href="/dashboard">Profil</a>
                <a href="/asset">Assets</a>
            </div>
            <div class="barang">
                <h2>Barang</h2>
                <a href="/databarang">Data Barang</a>
                <a href="/kategori">Kategori</a>
            </div>
            <div class="penjualan">
                <h2>Penjualan</h2>
                <a href="/approve">Approve</a>
                <a href="/laporanPenjualan">Laporan Penjualan</a>
            </div>
        </div>

        <div class="content">
            <div class="contkategori">
                <div class="menu">
                    <div class="judul">
                        <h1>Data Jenis</h1>
                    </div>
                    <a href="/tambahKategori" class="tombol">Tambah</a>
                </div>
    
                <div class="isikategori">
                    <div class="wadahkategori">
                        <div class="asetjudul">
                            <p>No</p>
                            <p>Nama Jenis</p>
                            <p>Nama Kategori</p>
                            <p>Aksi</p>
                        </div>
                        
                        <% jenises.forEach((element) => { %>
                            <div class="aset1">
                                <p><%= element.id_JenisBarang %> </p>
                                <p><%= element.jenis %></p>
                                <p><%= element.kategori %></p>
                                <button class="hapus" >
                                    <img src="assets/trash.png" width="20px">
                                </button>
                                <button class="edit">
                                    <img src="assets/edit.png" width="20px">
                                </button>
                            </div>
                        <%  }); %> 
                    </div> 
                </div>
    
            </div>
    
            <div class="contjenis">
                <div class="menu">
                    <div class="judul">
                        <h1>Data Kategori</h1>
                    </div>
                    <a href="/tambahJenis" class="tombol">Tambah</a>
                </div>
    
                <div class="isikategori">
                    <div class="wadahkategori">
                        <div class="asetjudul">
                            <p>No</p>
                            <p>Nama Kategori</p>
                            <p>Aksi</p>
                        </div>
        
                        <% jenises.forEach((element) => { %>
                        <div class="aset1">
                            <p><%= element.id_kategori %> </p>
                            <p><%= element.kategori %></p>
                            <button class="hapus" >
                                <img src="assets/trash.png" width="20px">
                            </button>
                            <button class="edit">
                                <img src="assets/edit.png" width="20px">
                            </button>
                        </div>
                        <%  }); %>
                    </div> 
                </div>
    
            </div>
        </div>
     
        
    </div>  
</body>
</html>