<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>waroEng</title>
    <link rel="stylesheet" href="css/myStyle.css">
    <script src="js/jquery-3.6.1.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="flex-space-between">
        <div class="logo-nav">
            <a href="/index" class="item-a"><img src="assets/waroEng3.png" alt="logoWaroeng"></a>
        </div>
        <div class="menu-nav flex-item-center">
            <a class="item-a btn-nav" href="/index">Beranda</a>
            <a class="item-a btn-nav" href="/cart">Keranjang</a>
            <a class="item-a btn-nav btn-nav-active" href="/about">Tentang</a>
            <!-- <a class="item-a btn-nav btn-nav-masuk" href="login.html">Masuk</a> -->
            <div class="profil flex-content-center">
                <button style="cursor: pointer;"><img class="profil-img" src="assets/profil.jpg" alt="profil"></button>
                <div class="dropdown-item">
                    <a href="/histori" class="item-a">Histori Pembelian</a>
                    <a href="/kodeAmbil" class="item-a">Ambil Barang</a>
                    <a href="/" class="item-a">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Isi -->
    <div class="container">
        <h3 class="sub-title" style="margin-bottom: 25px;">Tentang Kami</h3>
        <div class="box-content-about flex-space-arround" style="flex-wrap: wrap; padding: 50px 40px; margin: 0px 10px;">
            <div class="box-content-middle" style="background-color: #f3f3f3; background-image: url('<%= items[0].foto %>'); background-position: center; background-repeat: no-repeat; background-size: contain;"> 
            </div>
            <div class="box-content-big" style="background-color: rgba(0,0,0,0); padding: 20px;">
                <h2 class="headDesc">Nama Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;"><%= items[0].nama_toko %></p>
                <h2 class="headDesc">Alamat Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;"><%= items[0].alamat_toko %></p>
                <h2 class="headDesc">Deskrpsi Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;"><%= items[0].deskripsi_toko %></p>
                <h2 class="headDesc">Email Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;"><%= items[0].email %></p>
                <h2 class="headDesc">Nomor Telepon Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;"><%= items[0].nomor_telepon %></p>
            </div>
            <h2 class="sub-title" style="margin: 20px auto; border-bottom: 3px solid #333; padding: 10px;">Gallery</h2>
            <div class="galery flex-space-arround" style="flex-wrap: wrap;">
                <% items.forEach(element => { %>
                    <div class="galery-item" style="background-image: url('<%= element.foto %>'); background-size: contain; background-repeat: no-repeat; background-position: center; margin: 15px 0px;"></div>
                <% }) %>
            </div>
        </div>
    <footer>
        
    </footer>
</body>
</html>